account
angel
bbsmail
bbsrf
boardlist
broadcast
buildAnnounce
buildir
buildir2
chesscountry
chkhbf
deluserfile
expire
gamblegive
initbbs
mailangel
mandex
merge_board
mergedir2
munin
openticket
outmail
permreport
post
poststat
reaper
redir
removebm
setrole
shmctl
showboard
showuser
timecap_buildref
toplazyBM
topusr
tunepasswd
uhash_loader
update_online
useractive_munin
userlist
writemoney
xchatd
